body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

/* forms ------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #000000 solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #000000;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

/* -------------------------------------------------------------- */
#menu{
	border: 2px solid #000000;
	padding: 10px;
	margin: 10px;
}

/* Tables -------------------------------------------------------------------------------------*/
table{
	border-collapse: collapse;
	margin: 10px;
}
tr.even{
	background-color: #c0c0c0;
}
tr.odd{
	background-color: #ffffff;	
}
th{
	color: #000000;
	border: 2px solid #000000;
	padding: 5px;
}
th.action{
	border: 0px solid #000000;
	color: #900;
}
td{
	border: 2px solid #000000;
	padding: 5px;
}
td.action{
	text-align: center;
}